/* Colocando estilo do body para ficar sem as bordinhas brancas*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
  padding: 10px;
  background: black;
  color: white;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* Navbar (a parte que fica lá em cima) */
.titulo {
    display: flex;
    color: aqua;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
}

/*colocando o nome das tags depois da classe para especificar os elementos*/
.navbar li {
    margin: 10px;
    list-style: none;
}

.navbar a {
    color: orange;
    text-decoration: none;
} 

.agora a {
    color: yellow;
    font-weight: bold;
}

/* Index (pagina Home) */
.banner {
    /*para colocar uma imagem tem que colocar o url (nesse caso aqui é o caminho na pasta)*/
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.banner .container {
    color: white;
    font-size: 50px;
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-left: 700px;
}

.banner .container span {
    font-weight: bold;
}

.social {
    display: flex;
    flex-direction: column;
}

.boxes {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.box {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.box img {
    width: 80px; 
    height: 80px;
    object-fit: contain;
    margin-bottom: 15px;
    display: block;
}

.box h4 {
    color: indianred;
}

/* LOGIN E CADASTRO*/
.login {
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .container {
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 500px; 
    padding: 40px; 
    border-radius: 10px;
    text-align: center;
}

.card h2 {
    color: mediumvioletred;
    padding-bottom: 25px;
    margin: 0;
    font-size: 32px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.campo {
    display: flex;
    flex-direction: column;
    text-align: left;    
}

.campo span {
    color: mediumvioletred;
    font-weight: bold;
    margin-bottom: 8px; 
    font-size: 16px; 
}

.campo input {
    padding: 12px;
    border-radius: 8px;
    border: solid 2px #2bb7c4;
    text-align: center;
    font-size: 16px;
}

.botao {
    margin: 10px; 
    padding: 10px;
    width: 150px; 
    border-radius: 10px;
    background-color: #ed145b;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* tela do simulador (sem nada? não entendi)*/
.simulador {
    display: flex;
    background-color: aqua;
}

.simulador .container {
    display: flex;
    flex-direction: column;
}

.simulador .container h2 {
    color: indianred;
    text-align: center;
}

.simulador .container p {
    text-align: left;
}


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    background-color: #2bb7c4;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
